TOKENIZER_OID_URI=
TOKENIZER_HYDRA_CLIENT_ID=
TOKENIZER_REDIRECT_URI=
TOKENIZER_HYDRA_SCOPE=
TOKENIZER_LOGIN_URI=
TOKENIZER_CONSENT_URI=
TOKENIZER_USER_LOGIN=
TOKENIZER_USER_PASSWORD=

LOG_LEVEL=info
